@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.favorites__title {
    margin: 1rem 1rem 1rem 2rem;
    align-self: flex-start;
    font-family: 'Dosis', sans-serif;
}

.form {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__input {
        font-family: 'Dosis', sans-serif;
        padding: 3px;
        margin: 5px;
        height: 35px;
        border-radius: 10px;
    }
    &__button {
        width: 50%;
        font-family: 'Dosis', sans-serif;
        background-color: #a0b8b6;
        border-radius: 2em;
    }
}

.comment {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        margin: 5px;
        font-weight: bold;
    }
}
