@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.footer {
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: rgb(53, 52, 54);
    padding-bottom: 1rem;
    &__icons {
        margin-top: 3rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
    &__info {
        font-style: normal;
        line-height: 0.3;
    }
}
