@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.footer {
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: rgb(53, 52, 54);
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    row-gap: 1rem;
    width: 100vw;

    &__icons {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
    &__info {
        font-style: normal;
    }
}
