.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    height: 100px;
    background-color: #a0b8b6;
    &__input-container {
        position: relative;
    }

    &__input {
        height: 3rem;
        width: 220px;
        border-radius: 30px;
        border: 1px solid #989898;
        padding-left: 40px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    &__magnifying-glass {
        position: absolute;
        top: 15px;
        right: 15px;
        color: grey;
    }
    &__menu-burger {
        font-size: 2.5rem;
        display: block;
        width: 2.5rem;
        color: grey;
    }
}
