.photo {
    &__overlay {
        display: none;
    }
}

@media (min-width: 768px) {
    .photo {
        max-width: 400px;

        &:hover {
            & .photo__overlay {
                position: absolute;
                width: 100%;
                height: calc(100% - 3px);
                background-color: rgba(0, 0, 0, 0.5);
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}
